*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.nav{
display: flex;
justify-content: space-between;
padding: 16px 120px;
}
.nav img{
  max-width:139px ;


}
.nav  .nav-menu {
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}
.btn{
  max-width: 164px;
  height: 44px;
  background-color: #30B868;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12.5 16;
  font-size: 16px;
}
.background-img{
  width: 100%;
  /* max-width: 1600px; */
  min-height: 100vh;
  background: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  justify-content: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 }
..background-img .content{
  width: 1360px;
  padding: 115px 120px 180px;
  margin: 0 auto;
  
}
..background-img .content .text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text button{
  text-align: center;
}

#notes{
  padding-top: 50px;
  

}
#notes .notes-content{
  width: 71%;
  max-width: 1360px;
  margin: 0 auto;
}
.notes-heading{
  margin: 0 auto;
  line-height: 1.6;
  text-align: center;

}
#notes .notes-content .note-box{
  display: flex;
  gap: 24px;
  margin-top: 44px;
}
.note-box .note-card{
  padding: 69.5px 24px;
  border: 1px solid red;
  max-width: 322px;
text-align: center;
  
  
}
.note-card img{
background-color: red;
border-radius: 50%;
/* display: flex;
text-align: center;
justify-content: center; */


}
#dashboard{
  padding: 120px;
}
#dashboard .dash-content{
  display: flex;
}
#dashboard .dash-content .dash-img{
  max-width: 600px;
}
#dashboard .dash-text-content .dash-text{

}
#dashboard .dash-text-content{
  padding: 102px 0px 102px 60px;
}

.dash-text-content .dash-text{
  margin-left: 0;
  padding-right: 300px;
}
.dash-text h4{
  margin-bottom: 16px;
  color: #30B868;
}
.dash-text h1{
  max-width: 700px;
  font-size: 48px;
  margin-bottom: 16px;
}
.dash-text p{
   margin-bottom: 40px;
}
#dashboard .selection  .select{
   margin-bottom: 16px;
}
#chellenge{
  display: flex;
  text-align: center;
  justify-content: center;

  
}
#chellenge .chellenge-content {
margin: 0 120px 120px 120px;
max-width: 1360px;
/* padding: 80px 40px; */
background-color: #F7F6F2;

}
.chellenge-content .content-text{
  padding: 80px 40px;
  max-width: 1280px;
  
  
}
.chellenge-content .content-text h1{
  margin-bottom: 16px;
}
.chellenge-content .content-text p{
  margin-bottom: 24px;
}
.chellenge-content .content-text button{
margin-bottom: 16px;
}






/* footer section */


.footer {
  background: #071c2f;
  color: #ffffff;
  padding: 30px 40px;
  
  
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding:120px 120px  80px 120px;
  
}

/* Left side */
.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-left h3 {
  margin: 0;
  color: #6adf8c;
}

.footer-left p {
  margin: 0;
  font-size: 14px;
  opacity: 0.8;
}

.logo {
  font-size: 28px;
}

/* Right side */
.footer-right h4 {
  margin: 0 0 8px 0;
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 6px 10px;
  border-radius: 50%;
  font-size: 12px;
}


.footer-bottom {
  text-align: center;
  
  margin: 30px 0;
  font-size: 13px;
  opacity: 0.8;
}




