body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;

  /* image here */
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;

  /* dark effect */
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: darken;

  /* center text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  padding: 20px;
}

.hero h1 {
  font-size: 40px;
}

.hero h1 span {
  color: #32c766;
}

.hero p {
  max-width: 600px;
  margin: 15px 0 25px;
}

.hero button {
  padding: 12px 22px;
  border: none;
  border-radius: 6px;
  background: #32c766;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
